.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.container {
  display: flex;
  height: calc(100dvh - 56px);
  margin-top: 56px;
  overflow-y: auto;

  &[data-auth='true'] {
    height: calc(100dvh - 56px - 64px);
  }
}

.main {
  flex: 1;
  height: calc(100dvh - 56px);
  overflow-y: auto;
  background-color: var(--color-gray-light);

  &[data-auth='true'] {
    height: calc(100dvh - 56px - 64px);
  }
}

.content {
  min-height: calc(100dvh - 128px);
  padding: 24px;
  margin: 24px;
  overflow: hidden;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  border-radius: 16px;

  &[data-auth='true'] {
    min-height: calc(100dvh - 128px - 64px);
  }
}

@media (max-width: 960px) {
  .content {
    min-height: calc(100dvh - 56px);
    padding: 16px;
    margin: 0;
    border: none;
    border-radius: 0;

    &[data-auth='true'] {
      min-height: calc(100dvh - 56px - 64px);
    }
  }
}
