@use 'mhz-ui/dist/colors';
@use 'mhz-ui/dist/fonts';
@use 'mhz-ui/dist/base';

:root {
  --color-primary-light-extra: #eae9f6;
  --color-primary-light: #b7b2ea;
  --color-primary: #484195;
  --color-primary-dark: #292365;

  --color-accent: #00a465;
  --color-accent-dark: #037248;
  --color-accent-light: #86d77d;

  --panel-height: 56px;
  --form-buttons-height: 66px;
}

* {
  font-family: 'base', sans-serif;
}

h1,
h2,
h3 {
  margin-bottom: 0;
}
